<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The Checkers Game App is a secure software application for my SWE 681 project. The description and rules of the checkers (English draughts) game is at <a href="http://en.wikipedia.org/wiki/English_draughts">wiki</a>.
</p>