<% provide(:title, 'About') %>
<h1>About</h1>
<p>
  The Checkers Game App is a web-based game application for my final school project. This application demonstrates secure software practices taught in GMU's SWE 681. The description and rules of the checkers (English draughts) game is at <%= link_to "wiki", "http://en.wikipedia.org/wiki/English_draughts" %>.
</p>