<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  The gameplay of the checkers game is found at 
  <a href="http://simple.wikipedia.org/wiki/Checkers#Rules">link</a>.
  
  Verbatim:
</p>

<h2>Gameplay</h2>
<h3>Pieces</h3>
<p>Though pieces are traditionally made of wood, now many are made of plastic, though other materials may be used. Pieces are typically flat and cylindrical. They are invariably split into one darker and one lighter colour. Traditionally and in tournaments, these colours are white and red, but black and red are common in the United States, and light- and dark-stained wooden pieces are supplied with more expensive sets. There are two classes of pieces: men and kings. Kings are differentiated as consisting of two normal pieces of the same colour, stacked one on top of the other. Often indentations are added to the pieces to aid stacking.</p>
<h3>Starting position</h3>
<p>Each player starts with twelve pieces on the dark squares of the three rows closest to that player's side (see diagram). The row closest to each player is called the crownhead or kings row. The player with the darker coloured pieces moves first.</p>
<h3>Move rules</h3>
<p>There are two different ways to make a move in English draughts:</p>
<ol>
<li>A simple move consists of sliding a piece one square diagonally to an adjacent unoccupied dark square. Uncrowned pieces may move only diagonally forward; kings may move in any diagonal direction.</li>
<li>A jump is a move from a square diagonally adjacent to an opponent's piece to an empty square immediately beyond it, in the same line. (Thus, jumping over the square containing the opponent's piece.) Uncrowned pieces may jump only diagonally forward; kings may jump in any diagonal direction. A jumped piece is considered "captured" and removed from the game. Any piece, whether crowned or not, may jump a king.</li>
</ol>
<p>Multiple jumps are possible, if after one jump, another piece is immediately eligible to be jumped—even if that jump is in a different diagonal direction. If more than one multiple-jump move is available, the player may choose which piece to jump with, and which jumping option or sequence of jumps to make. The jumping sequence chosen is not required to be the one which maximizes the number of jumps in the turn; however, a player must make all available jumps in the sequence chosen.</p>
<p>Jumping is always mandatory: if a player has the option to jump, he must take it, even if doing so results in disadvantage for the jumping player. (For example, a single jump might set up a player such that the opponent has a multi-jump move in reply.)</p>
<h4>Kings</h4>
<p>If a player's piece moves into the kings row on the opposing player's side of the board, that piece is said to be crowned (or often kinged in the U.S.), becoming a king and gaining the ability to move both forward and backward. If a player's piece jumps into the kings' row, the current move terminates; the piece cannot continue on by jumping back out (as in a multiple jump), until the next move. A piece is normally crowned by placing a second piece on top of it; some sets have pieces with a crown molded, engraved or painted on one side, allowing the player to simply turn the piece over or to place the crown-side up on the crowned piece, further differentiating kings from ordinary pieces.</p>
<h3>End of game</h3>
<p>A player wins by capturing all of the opponent's pieces or by leaving the opponent with no legal move. The game ends in a draw if neither side can force a win, or by agreement (one side offering a draw, the other accepting).</p>
<h3>Rule variations</h3>
<p>In tournament English draughts, a variation called three-move restriction is preferred. The first three moves are drawn at random from a set of accepted openings. Two games are played with the chosen opening, each player having a turn at either side. This tends to reduce the number of draws and can make for more exciting matches. Three-move restriction has been played in the United States championship since 1934. A two-move restriction was used from 1900 until 1934 in the United States and in the British Isles until the 1950s. Before 1900, championships were played without restriction: this style is called go-as-you-please (GAYP).</p>
<p>One rule of long standing that has fallen out of favour[citation needed] is the huffing rule. In this variation jumping is not mandatory, but if a player does not take their jump (either deliberately or by failing to see it), the piece that could have made the jump is blown or huffed, i.e. removed from the board. After huffing the offending piece, the opponent then takes their turn as normal. Huffing has been abolished by both the American Checker Federation (ACF) and the English Draughts Association.[citation needed]</p>

<p>Two common rule variants, not recognized by player associations, are:</p>
<ol>
<li>That capturing with a king precedes capturing with a regular piece. (In such a case, any available capture can be made at the player's choice.)</li>
<li>A piece which in the current move has become a king can then in the same move go on to capture other pieces.</li>
</ol>