<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  The gameplay of the checkers game is found at 
  <a href="http://simple.wikipedia.org/wiki/Checkers#Rules">link</a>.
  Repeated below:
  Rules
Pieces when game starts

In most games of checkers, there are two players. The players are at opposite ends of the board. One player has dark pieces, and one player has light pieces. They take turns moving their pieces. Players move their pieces diagonally from one square to another square. When a player jumps over their opponent's (the other player's) piece, he takes that piece from the board.
English checkers

Most English-speaking people call English checkers "draughts." English 'checkers' is played on an 8x8 chess board. Only the dark squares are used (the light squares are never used). For that reason, good players play differently in the left and right corners.

    Pieces The pieces are flat and round. They are referred to as "men". They are usually colored red and white. For this reason, the darker pieces are usually called "Red" and the lighter pieces are always called "White." Some checkers sets have red and black pieces. Then the red pieces are called "White" and the black pieces "Red." And many sets simply use black and white draughts. There are two kinds of pieces: plain (single) pieces and "kings". A king is made by putting one plain piece on top of another.
    Starting Position Each player starts with 12 pieces on the three rows closest to their own side. The row closest to each player is called the "King Row". The darker colour moves first.
    How to Move A player can move in two ways. A piece can be moved forward, diagonally, to the very next dark square. In some variants, if one player's piece, the other player's piece, and an empty square are lined up, then the first player must "jump" the other player's piece. In this case, the first player jumps over the other player's piece onto the empty square and takes the other player's piece off the board. However, this is an uncommon ruleset not commonly observed in the Americas. A player can also use one piece to make multiple jumps in any one single turn, provided each jump continues to lead immediately into the next jump and in a straight line. Sometimes a player may have the option or a choice of which opponent piece he must jump. In such cases, he may then choose which to jump.
    Kings If a player's piece moves into the King Row on the other player's side, it becomes a king. It can move forward and backward. (Regular pieces can only move forward.) A king cannot jump out of the King Row until the next turn. Unlike Regular pieces, Kings can "jump" various empty boxes at a time to capture a regular piece. These "King Jumps" may only occur in diagnoally alligned boxes. Neither Kings nor regular pieces may move in any direction that is not diagonal.
    How the Game Ends The first player who cannot move loses. So if a player loses all of his pieces, he loses the game. And if he cannot move, he loses (even if he has pieces). A player may also resign (choose to lose). If nobody can lose, the game is a draw.

</p>