<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
  </div>
<% else %>
<div class="center hero-unit">
  <h1>Checkers Game App</h1>

  <h2>
  	Welcome to the home of my SWE 681 school project, Checkers on Rail app.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<div class="center">
<%= link_to image_tag("checkers.jpg", alt: "Checkers"), 'http://simple.wikipedia.org/wiki/Checkers' %>
</div>
<% end %>