<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.games.any? %>
      <h3>Game History (<%= @user.games.count %>)</h3>
      <ol class="games">
        <%= render @games %>
      </ol>

    <% end %>
  </div>
</div>