<% @user ||= current_user %>
<div class="stats text-center">
  <div href="#">
    <% # TODO: maybe link to list of won games? %>
    <strong class="stat">
      <%= current_user.win_count %> 
    </strong>
    wins
  </div>
  <div href="#">
    <strong class="stat">
      <%= current_user.loss_count %>
    </strong>
    losses
  </div>
</div>