<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="following" class="stat">
      10
    </strong>
    wins
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      11
    </strong>
    losses
  </a>
</div>