<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <% # TODO: maybe link to list of won games? %>
    <strong id="following" class="stat">
      <%= @user.win_count %> 
    </strong>
    wins
  </a>
  <a href="#">
    <strong id="followers" class="stat">
      <%= @user.loss_count %>
    </strong>
    losses
  </a>
</div>